@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: #2a2c32;
  line-height: 1;
  font-family: Rubik;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: 1.2
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75.125rem;
  margin: 0 auto;
  padding: 0 1rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1rem 1fr minmax(auto,73.125rem) 1fr 1rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  padding: 1.1875rem 2.5rem;
  border-radius: 16px;
  background-color: #298ba7;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  transition: background-color .3s;
  line-height: 1
}
.button:active {
  background-color: #22768d
}
.button--fw {
  width: 100%
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-weight: 600
}
.title-light {
  color: #fff
}
.link {
  font-size: .875rem;
  font-weight: 500;
  text-decoration: underline;
  transition: color .3s
}
.footer {
  padding: 2rem 0 3.125rem
}
.footer__container {
  text-align: center;
  font-weight: 500
}
.main-block__image {
  position: relative;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background: linear-gradient(180deg,rgba(255,255,255,0) 85.56%,#fff 100%)
}
.main-block__image img {
  position: relative;
  width: 100%;
  z-index: -1
}
.main-block__container {
  position: relative;
  z-index: 2
}
.main-block__title {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: -1rem 1rem 0
}
.main-block__title-accent {
  color: #fff;
  padding: .3125rem .9375rem .4375rem;
  border-radius: 32px;
  background-color: #298ba7;
  margin-left: -1rem
}
.steps__title-wrapper {
  padding: 1.5rem 0;
  position: relative
}
.steps__title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(40% - 2rem);
  width: 100vw;
  height: 100%;
  background-color: #298ba7;
  border-radius: 300px;
  z-index: -1
}
.steps__title {
  max-width: 60%;
  margin-left: auto
}
.steps__list {
  display: flex;
  flex-direction: column
}
.steps__list-item {
  border-radius: 16px;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 226px 63px 0 transparent,0 144px 58px 0 rgba(0,0,0,.01),0 81px 49px 0 rgba(0,0,0,.05),0 36px 36px 0 rgba(0,0,0,.09),0 9px 20px 0 rgba(0,0,0,.1);
  display: flex;
  gap: .5rem;
  min-height: 4.625rem;
  align-items: center
}
.steps__list-item::before {
  content: "";
  width: 2rem;
  height: 2rem;
  flex: 0 0 auto;
  background: url(../img/icons/check.svg) center center/contain no-repeat
}
.steps__link-wrapper {
  margin-top: 8px
}
.offer {
  margin-bottom: 2rem
}
.offer__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
  position: relative
}
.offer__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .0625rem;
  background-color: #2a2c32;
  opacity: .2;
  width: 80.792683%
}
.offer__wrapper {
  padding: 2rem 1.3125rem;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0 226px 63px 0 transparent,0 144px 58px 0 rgba(0,0,0,.01),0 81px 49px 0 rgba(0,0,0,.05),0 36px 36px 0 rgba(0,0,0,.09),0 9px 20px 0 rgba(0,0,0,.1)
}
.offer__title {
  margin: 0 .6875rem;
  margin-bottom: 1.5rem;
  max-width: 43.75rem
}
.offer__counter {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: .5rem;
  min-height: 2.9375rem;
  max-width: 43.75rem;
  margin: 0 auto
}
.offer__counter-number {
  border-radius: 8px;
  background-color: #298ba7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff
}
.benefits {
  margin-bottom: 2rem
}
.benefits__container {
  padding-bottom: 2rem;
  position: relative
}
.benefits__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .0625rem;
  background-color: #2a2c32;
  opacity: .2;
  width: 80.792683%
}
.benefits__title {
  margin-bottom: 2rem
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .625rem;
  margin: 0 -.3125rem
}
.benefits__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem
}
.benefits__image-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  border: 1px solid #298ba7;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 44px 12px 0 transparent,0 28px 11px 0 rgba(0,0,0,.01),0 16px 10px 0 rgba(0,0,0,.05),0 7px 7px 0 rgba(0,0,0,.09),0 2px 4px 0 rgba(0,0,0,.1)
}
.benefits__image {
  max-width: 2rem
}
.benefits__text {
  font-weight: 600;
  max-width: 5.625rem;
  margin: 0 auto
}
.reviews {
  padding-bottom: 2rem
}
.reviews__title {
  margin-bottom: 2rem
}
.reviews__swiper {
  overflow: visible!important;
  margin-bottom: 2rem;
  position: relative
}
.reviews__swiper-slide {
  border-radius: 32px;
  background: #fff;
  padding: 2rem 2rem 4.75rem;
  box-shadow: 0 226px 63px 0 transparent,0 144px 58px 0 rgba(0,0,0,.01),0 81px 49px 0 rgba(0,0,0,.05),0 36px 36px 0 rgba(0,0,0,.09),0 9px 20px 0 rgba(0,0,0,.1)
}
.review__header {
  display: flex;
  align-items: flex-start;
  gap: .9375rem;
  margin-bottom: 1rem
}
.review__person {
  display: flex;
  gap: .5rem;
  align-items: flex-start
}
.review__person-photo {
  flex: 0 0 auto;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  overflow: hidden
}
.review__person-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.review__person-name {
  font-weight: 500
}
.review__stars {
  display: flex;
  flex-wrap: nowrap;
  gap: .25rem
}
.review__star {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.review__star img {
  max-width: 100%
}
.review__text {
  color: #000
}
.swiper-pagination {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  gap: .625rem
}
.swiper-pagination-bullet {
  width: .75rem;
  height: .75rem;
  border-radius: 50px;
  background-color: #ececec;
  flex: 0 0 auto;
  transition: width .3s,background-color .3s
}
.swiper-pagination-bullet-active {
  background-color: #298ba7;
  width: 1.5rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .main-block__title {
    align-items: flex-start;
    margin-top: -2rem
  }
}
@media (min-width:47.99875em) {
  .button {
    margin: 0 auto
  }
  .steps__list-item::before {
    width: 3rem;
    height: 3rem
  }
  .offer__counter {
    min-height: 3.75rem
  }
  .benefits__image-wrapper {
    width: 5.625rem;
    height: 5.625rem
  }
  .benefits__image {
    max-width: 2.5rem;
    width: 2.5rem
  }
  .reviews__swiper-slide {
    opacity: 0;
    transition: opacity .3s
  }
  .reviews__swiper-slide.swiper-slide-active {
    opacity: 1
  }
  .reviews__button-wrapper {
    display: flex;
    justify-content: center
  }
}
@media (min-width:75.125em) {
  .title {
    font-size: 3rem
  }
  .main-block {
    margin-bottom: 2.5rem
  }
  .main-block__title {
    font-size: 3.75rem
  }
  .main-block__title-accent {
    font-size: 3rem
  }
  .steps {
    margin-bottom: 3.75rem
  }
  .steps__title-wrapper {
    margin-bottom: 2rem
  }
  .steps__list {
    gap: 2rem
  }
  .steps__text {
    font-size: 1.125rem
  }
  .benefits__text {
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em) {
  .button {
    display: block
  }
  .steps__link-wrapper {
    text-align: center
  }
}
@media (max-width:29.99875em) {
  .benefits__title {
    max-width: 15.625rem
  }
}
@media (max-width:22.5em) {
  .title {
    font-size: 1.5rem
  }
  .main-block {
    margin-bottom: 1.1875rem
  }
  .main-block__title {
    font-size: 1.875rem
  }
  .main-block__title-accent {
    font-size: 1.5rem
  }
  .steps {
    margin-bottom: 2rem
  }
  .steps__title-wrapper {
    margin-bottom: 1rem
  }
  .steps__list {
    gap: 1rem
  }
  .steps__text {
    font-size: .875rem
  }
  .benefits__text {
    font-size: .875rem
  }
}
@media (min-width:22.5em)and (max-width:75.125em) {
  .title {
    font-size: clamp(1.5rem ,.8586698337rem + 2.8503562945vw ,3rem)
  }
  .main-block {
    margin-bottom: clamp(1.1875rem ,.6263361045rem + 2.4940617577vw ,2.5rem)
  }
  .main-block__title {
    font-size: clamp(1.875rem ,1.0733372922rem + 3.5629453682vw ,3.75rem)
  }
  .main-block__title-accent {
    font-size: clamp(1.5rem ,.8586698337rem + 2.8503562945vw ,3rem)
  }
  .steps {
    margin-bottom: clamp(2rem ,1.2517814727rem + 3.325415677vw ,3.75rem)
  }
  .steps__title-wrapper {
    margin-bottom: clamp(1rem ,.5724465558rem + 1.9002375297vw ,2rem)
  }
  .steps__list {
    gap: clamp(1rem ,.5724465558rem + 1.9002375297vw ,2rem)
  }
  .steps__text {
    font-size: clamp(.875rem ,.768111639rem + .4750593824vw ,1.125rem)
  }
  .benefits__text {
    font-size: clamp(.875rem ,.768111639rem + .4750593824vw ,1.125rem)
  }
}
@media (any-hover:hover) {
  .link:hover {
    color: #298ba7
  }
}